<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Circoli</title>
</head>

<body>

	<div style="margin-top: 30px; margin-left: 480px;">
		<img src="/images/logo.png"></img>
	</div>
	<div style="text-align: center; margin-top: 20px;">
		<div style="font-weight: bold;">
			<h1>I nostri Circoli</h1>
			<h4>Qui troverai una lista di circoli di cui potresti diventare un membro:</h4>
		</div>
		<section>
			<div  style="font-weight: bold; margin-bottom: 15px; background-color: gray;  margin:0 auto; width: 1000px;" th:each="circolo : ${circoli}">
				Nome: <span th:text="*{circolo.nomeCircolo}">qui-va-titolo</span><br>
				Indirizzo: <span th:text="*{circolo.indirizzo}">qui-va-indirizzo</span><br>
				Email: <span th:text="*{circolo.email}">qui-va-email</span><br>
				Recapito: <span th:text="*{circolo.recapito}">qui-va-recapito</span>
				<p></p>
			</div>
		</section> 
		<div>
			<span th:if="${credentials.role == 'ADMIN'}"><a href="/addCircolo"><button>+</button></a></span>
		</div>
	</div>

</body>

</html>