<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet">


<head>
    <title>Login</title>
</head>

<body>
    <div style="text-align: center;">
        <img style="height: 75px;" src="/images/logo.png"></img>
    </div>
    <br>
    <div style="display:flex; width: 1100px; margin-left: 280px;">
        <div style="margin-right: 50px;">
            <a href="/iscrizioneCircolo"> <img src="/images/IscrizioneCircolo.jpg"></img></a>
        </div>
        <div style="margin-left: 50px;">
            <a th:href="@{/circolo}"> <img src="/images/Circoli.jpg"></img></a>
        </div>
    </div>
</body>

</html>