<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Campi</title>
</head>

<body>

	<div style="margin-top: 30px; margin-left: 480px;">
		<img src="/images/logo.png"></img>
	</div>
	<div style="text-align: center; margin-top: 20px;">
		<div style="font-weight: bold; font-size: 20px;">
			<p>Le tue prenotazioni</p>
		</div>
		<section>
			<div  style="font-weight: bold; margin-bottom: 15px; background-color: gray; margin:0 auto; width: 1000px;" th:each="prenotazione : ${prenotazioni}">
				Data: <span th:text="${#temporals.format(prenotazione.data,'dd/MM/yyyy')}">qui-va-data</span><br>
				Orario di inizio: <span th:text="*{prenotazione.oraInizio}">qui-va-oraInizio</span><br>
				Orario di fine: <span th:text="*{prenotazione.oraFine}">qui-va-oraFine</span><br>
				Campo: <span th:text="*{prenotazione.campo.numeroCampo}+' '+*{prenotazione.campo.sport}">qui-va-campo</span><br>
				<p></p>
			</div>
		</section> 
		<div>
			<a href="/addPrenotazione"><button>+</button></a>
		</div>
	</div>

</body>

</html>
